---
import DiscordIcon from "../../../public/icons/media/discord.svg?raw";
---
<div class="discordContainerWrapper">
    <div class="discordContainer">
        <div class="headerWrapper">
            <div class="discordIcon" >
                <Fragment set:html={DiscordIcon}/>
            </div>

            <h2 class="discordHeader">Serwer Dicord</h2>
        </div>
        <div class="subHeaderWrapper">
            <img class="discordIcon" src="../../../public/logo.ico"/>
            <h3 class="discordSubHeader"> Hex Tournament</h3>
        </div>
        
        <div class="discordText">Dołącz do serwera Discord turnieju i weź udział w następnym turnieju!</div>
        <a class="discordUrl" href="https://discord.gg/EnQD7C9K5m" target="_blank">Dołącz</a>
    </div>
</div>

<style>
    .discordContainerWrapper{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .discordContainer {
        flex-direction: column;
        background-color:#2c2d32;
        color: white;
        border-radius: 20px;
        border: 1px solid #424549;
        padding: 15px;
        justify-content: center;
    }
    .headerWrapper{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px 10px;
        color: white;
    }
    .subHeaderWrapper{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 15px 0px;
        color: white;
    }
    .discordHeader {
        text-align: center;
    }
    .discordSubHeader {
        margin: 0 0 0 15px;
        text-align: center;
    }
    .discordText {
        color: white;
        text-align: center;
    }
    .discordUrl{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
        text-decoration: none;
        color: 	#7289da;
        font-weight: 600;
        font-size: 32px;
    }
    .discordUrl:hover{
        color: 	#b8c4f0;
    }

    .discordIcon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        overflow: hidden;
    }

    .discordIcon svg{
        width: 50px !important;
        height: 50px !important; 
    }

</style>