.fullImageWrapper{
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.imageWrapper{
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.banner{
    margin-top: 60px;
    height: 600px;
}
.fullImage{
    height: 100%;
    object-fit: contain;
} 
.fullImage.shadow{
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        rgb(0, 0, 0) 15%,
        rgb(0, 0, 0) 85%,
        transparent 100%
    );
}
.fullImage.otherAspect{
    width: 100%;
    height: initial;
    object-fit: cover;
}
.linkContainer{
    width: 100%;
    height: 100%;
    position: absolute;
}
.fullImageContent{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;

}
.blackBackground{
    background-color: black;
}
.imageToRight{
    justify-content: flex-end;
    align-items: flex-end;
}

.fade-image {
    opacity: 0;
    transform: scale(10.05) translateX(-80%);
    filter: blur(10px);
    z-index: 2;
    width: 100%;
}

.banner .fade-image{
    opacity: 0;
    transform: scale(10.05) translateX(-80%);
    filter: blur(10px);
    z-index: 2;
    width: auto;

    transition: opacity 2s ease, transform 2s ease, filter 2s ease, z-index 2s ease;
}

.fade-image:is(:loaded, :not([src])) {
/* fallback for older browsers */
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
}

.fade-image.loaded {
    opacity: 1;
    transform: scale(1) translateX(0);
    filter: blur(0);
    z-index: 0;
}

.fade-image2 {
    opacity: 0;
    transform: scale(10.05) translateX(80%);
    filter: blur(10px);
    z-index: 0;

    transition: opacity 2s ease, transform 2s ease, filter 2s ease, z-index 2s ease;
}

.fade-image2:is(:loaded, :not([src])) {
/* fallback for older browsers */
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
}

.fade-image2.loaded {
    opacity: 1;
    transform: scale(1) translateX(0);
    filter: blur(0);
    z-index: 0;
}

h1{
    font-size: 45px;
}

.fullWidthTileContent p{
    text-align: center;
    font-size: 25px;
}

.construction{
    height: 900px !important;
}

.construction img{
    height: 100%;
    object-fit: contain;
}


@media (min-width: 2000px){
        .fullImageWrapper{
            height: 850px;
        }
        .banner{
            height: 30vw;
        }
}

@media (max-width: 1760px){
    .fullImageWrapper .bannerContentContainer{
        padding: 0 0 0 10px;
    }

    .imageWrapper{
        width: 100%;
        overflow: hidden;
    }

    .noCorrection .imageWrapper{
        height: 100%;
        align-items: flex-end;
    }
}

@media (max-width: 1550px){
    h1{
        font-size: 40px;
    }


}

@media(max-width:1200px){
    .fullImageWrapper .bannerContentContainer{
        width:65%;
    }
    .fullWidthTileContent p{
        font-size: 24px;
        text-align: center;
    }

    .fullImage{
        position: relative;
    }


    
}

@media(max-width:1070px){
    .fullImageWrapper{
        height: 750px;
    }

    .fullImageWrapper .bannerContentContainer{
        width:100%;
        justify-content: center;
        text-align: center;
    }

    .imageWrapper{
        
        height: 100%;
        overflow: hidden;
        align-items: center;
    }

    .banner{
        height: 400px;
    }

    .banner .imageWrapper{
        position: relative;
    }


    .fullImage{
        position: relative;
        bottom: 0;
        height: 100%;
       
    }

    .noCorrection .fullImage{
        left: 0;
    }

    .noCorrection .bannerContentContainer{
        align-items: center;
        justify-content: center;
    }

    .fade-image{
        transform: scale(30.05) translateX(30%) translateY(50%);
        z-index: 0;
    }

    .fade-imag2{
        transform: scale(30.05) translateX(-50%) translateY(50%);
        z-index: 0;
    }
}

@media(max-width:1070px){
    .banner{
        margin-top:60px;
    }

    .fullWidthTileContent p{
        font-size: 20px;
        margin: 5px 0;
    }

    h1{
        margin: 5px 0;
    }
}

@media(max-width:900px){
    .banner .imageWrapper{
        position: relative;
        bottom: 0;
    }

    h1{
        font-size: 36px;
    }

    ol {
        font-size: 14px;
    }

    .fullWidthTileContent p{
        font-size: 14px;
    }

    .fullImage.otherAspect{
    width: initial;
    height: 100%;
    object-fit: cover;
}
}

@media (max-width: 550px){

    .fullImageWrapper{
        height: 380px;
    }
    .fullImageWrapper .bannerContentContainer {
        padding: 10px 40px;
    }
    h1{
        font-size: 32px;
    }

    .banner{
        height: 300px;
    }

    .fade-image{
        transform: scale(30.05) translateX(30%) translateY(50%);
        z-index: 0;
    }

    .fade-image2{
        transform: scale(30.05) translateX(30%) translateY(50%);
        z-index: 0;
    }
}

@media (max-width: 400px){
    .fullImageWrapper{
        height: 250px;
    }

    .fullImageWrapper .bannerContentContainer {
        padding: 5px 10px;
    }

    h1{
        font-size: 30px;
    }

    .fade-image{
        transform: scale(30.05) translateX(30%) translateY(50%);
        z-index: 0;
    }
    .fade-image2{
        transform: scale(30.05) translateX(30%) translateY(50%);
        z-index: 0;
    }

    .banner{
        height: 600px;
    }
}

.horizontalScroll{
    height: 700px;
}

@media (max-width: 600px) {
    .horizontalScroll {
        height: 500px;
    }
}

.horizontalScroll .imageWrapper {
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;      /* żeby nie wyskakiwał pionowy */
    cursor: grab;
    user-select: none;       /* brak zaznaczania tekstu przy drag */
    /* scrollbar-width: none; */
}

.horizontalScroll .imageWrapper::-webkit-scrollbar {
  /* display: none; */
}

.horizontalScroll .imageWrapper.dragging {
    cursor: grabbing;
}

.horizontalScroll .fullImageContent{
   display: none;
}

.horizontalScroll .linkContainer{
   display: none;
}

.horizontalScroll img {
    height: 100%;
    width: auto;
    pointer-events: none;    /* żeby nie „łapało” samego obrazka */
    transition: transform 0.3s ease;
}

.horizontalScroll:hover img{
  transform: scale(1.05); /* powiększenie o 10% */
}

