---
import "../../styles/global.css"
---

<div class="faqAnswer">
    <slot/>
</div>

<style>
    .faqAnswer{
        width: 100%;
        margin: 0;
        line-height: 1.6;
        color: #f1eadb;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 1s ease, opacity 1s ease;
    }

    :global(.faqLine[data-expanded="true"] .faqAnswer) {
        opacity: 1;
    }

    @media (max-width: 870px) {
        .faqAnswer{
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
</style>