---
import "../../styles/global.css"
---

<div class="faqAnswer">
    <slot/>
</div>

<style>
    .faqAnswer{

        width: 100%;
    }

    @media (max-width: 870px) {
        .faqAnswer{
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
</style>