---
import "../../styles/global.css"
---

<div class="faqLine">
    <slot/>
</div>

<style>
    .faqLine{
        width: 100%;
        max-width: 980px;
        margin-bottom: 20px;
        flex-direction: column;
    }
</style>