---
import "../../styles/global.css";
const {clazz, style} = Astro.props;
---

<section class=`sectionContainer ${clazz}` style=`${style}`>
    <div class="sectionSubContainer">
        <slot/>
    </div>

</section>

<style>
    .sectionContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .sectionSubContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1220px;
    }

    .center{
        flex-direction: column;
        align-items: center;
    }

    .slanted {
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
        padding: 5rem 0;
    }
    @media (max-width: 1500px) {
        .slanted {
            clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
        }
    }

    @media(max-width: 1220px) {
        .sectionContainer{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
    }
</style>
