.bannerContentContainer{
    flex-direction: column;
}

.carouselElementContainer{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #c5c5c5;
    overflow: hidden;
}

.checkboxFilled svg{
    width: 28px;
    height: 28px;
    fill: var(--accent-color);
}

.carouselContentWrapper .price{
    width: 100%;
    justify-content: center;
}
