:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent-color: #ffa600;
    --text-primary-color: #000000;
    --text-secondary-color: #ffffff;
    --background-color: #ffffff;

}

@font-face {
    font-family: 'Montserrat';
    src: url('/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Roboto';
    src: url('/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/minecraft-font/MinecraftBold-nMK1.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/minecraft-font/MinecraftRegular-Bmg3.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div {
    display: flex;
}

section {
    display: flex;
}

h1,h2{
    text-align: center;
}

body {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-size: 20px;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

main {
    display: flex;
}

ul.customList {
    list-style: none;
    padding-inline-start: 0;
    flex: 1;
}

h1.mainHeader{
    margin: 80px 0 40px 0;
}

@media (max-width: 950px){
    ul.customList {
        font-size: 18px;
    }
}

li.customLi{
    display: flex;
    flex-wrap: nowrap;
    margin:0.4rem 0;
    text-align: start;
}

li.customLi .marker{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.checkboxFilled svg{
    width: 28px;
    height: 28px;
    fill: var(--accent-color);
}

@media (max-width: 550px){
    h1 {
        font-size: 25px;
    }
    
    h2 {
        font-size: 25px;
    }

    body {
        text-align: center;
        font-size: 16px;
    }
}

@media (max-width: 400px){
    h1 {
        font-size: 22px;
    }
    
    h2 {
        font-size: 22px;
    }

    body {
        text-align: center;
        font-size: 14px;
    }
}
