---
import "../../styles/global.css";
import "./ImageBoxContent.css";

const { imagePath, wrapperClass, lazyMeanColor } = Astro.props;
---

<div class=`imageBoxWrapper ${wrapperClass}`>
    <div class="imageBoxContent" >
        <slot/>
    </div>
    <div class="imageBoxImageContainer">
        <img class="imageBoxImage" src=`/HexagonTournamentPage/${imagePath}` loading="lazy" decoding="async" style=`background-color: ${lazyMeanColor}` alt="">
    </div>
</div>
