---
import "../../../styles/global.css"
const {clazz = ""} = Astro.props;
---

<div id="submenuContainer" class="submenuContainer">
    <div id="submenuContent" class="submenuContentWrapper">
        <slot/>
    </div>

</div>

<style>

</style>
