---
import NavBar from './NavBar/NavBar.astro'
import Footer from './Footer/Footer.astro'
import ContentContainer from './ContentContainer/ContentContainer.astro'
import ImageBoxContent from './ImageBoxContent/ImageBoxContent.astro'
import './NavBar/NavBar.css'
import './PageContent/WelcomePage/Welcome.styles.css'
import FullImageContainer from './FullImageContainer/FullImageContainer.astro'
import DiscordContainer from './DiscordContainer/DiscordContainer.astro'
import HexContainer from './DiscordContainer/HexContainer.astro'
import TimeContainer from './DiscordContainer/TimeContainer.astro'
import ServerContainerWrapper from './DiscordContainer/ServerContainerWrapper.astro'
import Section from './ContentContainer/Section.astro'

---

<NavBar/>
<ContentContainer>
    <FullImageContainer id="mainBanner" imagePath="images/Welcome/Banner.jpg" imageLink="#" wrapperClass="blackBackground banner" imageClass="fade-image">
    
    </FullImageContainer>

     <div style="display: flex; width: 100%; justify-content: center;">    
        <TimeContainer />
    </div>


    <ServerContainerWrapper sourceIP="Minecrafthex.pl">

        <HexContainer src="images/Welcome/ServerBanner4.png" headerText="" href="/hexSMP"/>

        <HexContainer src="images/Welcome/ServerBanner1.png" headerText="" href="/hexEvent"/>

        <HexContainer src="images/Welcome/ServerBanner2.png" headerText="" href="/hexMiniGames"/>

    </ServerContainerWrapper>
    
    <div style="width: 100%; display: flex; justify-content: center;">
        <div style="width: 100%;" >
            <DiscordContainer />
        </div>
    </div>

    <Section>
        <ImageBoxContent imagePath="images/Welcome/Shop.jpg" wrapperClass="bottomGap imageRight" lazyMeanColor="#e5e3dd">
            <div class="fullWidthTileContent" >
                <h1>Sklep</h1>
                <p>Chcesz się wyróżnić jako VIP? Może chcesz utrudnić przyszłe konkurencje innym?</p>
                <a style="font-size: 2rem;" href="/shop"><b>Sprawdź sklep!</b></a>
            </div>
        </ImageBoxContent>
        <ImageBoxContent imagePath="images/Welcome/Archive.png" wrapperClass="bottomGap" lazyMeanColor="#596872">
            <div class="fullWidthTileContent" >
                <h1>Archiwum eventów</h1>
                <p>Wspomnienia z poprzednich turniejów. Zatrzymaj się i zobacz co już udało się zorganizowac.</p>
                <p> Różne motywy, konkurencje i wiele wspomnień.</p>
                <a style="font-size: 2rem;" href="/archive"><b>Zobacz relację!</b></a>
            </div>
        </ImageBoxContent>

        <h1>Plany na przyszłość</h1>

        <ImageBoxContent imagePath="images/Welcome/ServerBanner3.png" lazyMeanColor="#c3c1e6" wrapperClass="imageRight" isLightBox>
            <div class="fullWidthTileContent" style="text-align: center;">
                <h1>Serwer HexHogwart</h1>
                <p>Serwer RPG-roleplay w klimatach świata inspirtowanego Hogwartem.</p>
                <p>Już w 2027 roku!</p>
            </div>
        </ImageBoxContent>

        </FullImageContainer>
    </Section>

</ContentContainer>
<Footer/>

