---
import NavBar from './NavBar/NavBar.astro'
import Footer from './Footer/Footer.astro'
import ContentContainer from './ContentContainer/ContentContainer.astro'
import ImageBoxContent from './ImageBoxContent/ImageBoxContent.astro'
import './NavBar/NavBar.css'
import './PageContent/WelcomePage/Welcome.styles.css'
import FullImageContainer from './FullImageContainer/FullImageContainer.astro'
import Grid21 from './Grid/Grid2_1/Grid2_1.astro'
import Grid31 from './Grid/Grid3_1/Grid3_1.astro'
import DiscordContainer from './DiscordContainer/DiscordContainer.astro'
import ServerCounter from './ServerCounter/ServerCounter.astro'
import HexContainer from './DiscordContainer/HexContainer.astro'
import TimeContainer from './DiscordContainer/TimeContainer.astro'

---

<NavBar/>
<ContentContainer>
    <FullImageContainer id="mainBanner" imagePath="/images/Welcome/Banner.jpg" imageLink="#" wrapperClass="blackBackground banner" imageClass="fade-image">
    
    </FullImageContainer>

     <div style="display: flex; width: 100%; justify-content: center;">    
        <TimeContainer />
    </div>


    
    <Grid31>
        <div style="width: 100%; display: flex; justify-content: center;" slot=left>
            <div style="width: 100%;" >
                <DiscordContainer />
            </div>
        </div>

        <div style="width: 100%; display: flex; justify-content: center;" slot=right>
            <div style="width: 100%;" >
                <HexContainer />
            </div>
        </div>

    </Grid31>

    <Grid21>
        <ImageBoxContent slot="left" imagePath="/images/Welcome/MinibanerSerweraHexPlay_S.png" lazyMeanColor="#dcc5ea" wrapperClass="lowwer_H">
            <div class="fullWidthTileContent" style="text-align: center;">
                <h1>Serwer HexPlay</h1>
                <p style="font-size: 1.5rem; font-weight: 600;">Od lutego 2026!</p>
                <!-- <a href="/frontendAndBackendSubject"><b>Więcej informacji</b></a> -->
            </div>
        </ImageBoxContent>
        <ImageBoxContent slot="right" imagePath="/images/Welcome/MinibanerSerweraHexHogwart_S.png" lazyMeanColor="#c3c1e6" wrapperClass="lowwer_H imageRight">
            <div class="fullWidthTileContent" style="text-align: center;">
                <h1>Serwer HexHogwart</h1>
                <p style="font-size: 1.5rem; font-weight: 600;">Już w 2027 roku!</p>
                <!-- <a href="/frontendSubject"><b>Więcej informacji</b></a> -->
            </div>
        </ImageBoxContent>
    </Grid21>

    <ImageBoxContent imagePath="/images/Welcome/Archive.png" wrapperClass="bottomGap" lazyMeanColor="#596872">
        <div class="fullWidthTileContent" >
            <h1>Archiwum edycji</h1>
            <h2>Wspomnienia z poprzednich edycji. Zatrzymaj się i zobacz co już udało się zorganizowac.</h2>
            <p style="font-size: 18px; text-align: center; font-size: 1.5rem;"> Różne motywy, konkurencje i wiele wspomnień.</p>
            <a style="font-size: 2rem;" href="/archive"><b>Zobacz relację!</b></a>
        </div>
    </ImageBoxContent>
    <ImageBoxContent imagePath="/images/Welcome/Shop.jpg" wrapperClass="bottomGap imageRight" lazyMeanColor="#e5e3dd">
        <div class="fullWidthTileContent" >
            <h1>Sklep</h1>
            <h2>Chcesz się wyróżnić jako VIP? Może chcesz utrudnić przyszłe konkurencje innym?</h2>
            <a style="font-size: 2rem;" href="/shop"><b>Sprawdź sklep!</b></a>
        </div>
    </ImageBoxContent>
    <h1 class="mainHeader">Plany na najbliższe rozgrywki</h1>
    <FullImageContainer id="timeAxis" imagePath="/images/Welcome/timeAxis.png" imageLink="#" wrapperClass="blackBackground horizontalScroll" imageClass="fade-image" wrapperStyle=" display: flex; justify-content:center;">
       
    </FullImageContainer>

</ContentContainer>
<Footer/>


