.carousel-outer-wrapper {
    position: relative;
    max-width: 980px;
}


.carousel-indicators .dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    opacity: 0.7;
    cursor: pointer;
}

.carousel-indicators .dot.active {
    background-color: #444;
    transform: scale(1.4);
}

.carouselContentWrapper p{
    margin-block-end: 0.35rem;
    margin-block-start: 0.35rem;
}

.carouselContentWrapper b{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.carouselElement{
    min-width: 500px;
    height: 600px;
    padding: 0 30px;
    transform: translateX(37%);
    border-radius: 40px;
}

@media (max-width: 850px){
    .carousel-outer-wrapper{
        max-width: 550px;

    }

    .carouselElement{
        padding: 0 10px;
        min-width: 450px;
        transform: translateX(8%);
    }
}

@media (max-width: 500px){
    .carousel-outer-wrapper{
        max-width: 450px;
    }

    .carouselElement{
        min-width: 320px;
        padding: 0 5px;
        transform: translateX(17%);
    }
}