---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"
import '../components/NavBar/NavBar.css'
import '../components/FullImageContainer/FullImageContainer.css'
import '../components/PageContent/WelcomePage/Welcome.styles.css'
import ContentPartContainer from "../components/ContentContainer/ContentPartContainer.astro";
import Section from "../components/ContentContainer/Section.astro";
import PdfSvg from "../../public/icons/common/pdf.svg?raw"
import ContentContainer from "../components/ContentContainer/ContentContainer.astro";
import Footer from "../components/Footer/Footer.astro";
import NavBar from "../components/NavBar/NavBar.astro";
---
<Layout>
    <NavBar/>
    <ContentContainer style="background-color: #e5e5e5">

    <Section clazz="sectionContainer center slanted">
        <ContentPartContainer clazz="limitedWidth center">
            <h1>Polityka prywatności RODO Capybit</h2>

            <div style="margin-top: 15px;"> 
                <a href=`/documents/privacy.pdf` download>
                    <div style="width: 24px; height: 24px;" set:html={PdfSvg}/>
                </a>
                <a href=`/documents/privacy.pdf` download>Polityka prywatności i ochrony danych RODO Capybit</a>
            </div>

            <div style="margin-bottom: 1000px;"/>
        </ContentPartContainer>
    </Section>

    </ContentContainer>
    <Footer/>
</Layout>