---
import "../../styles/global.css";
import ContentPartContainer from "../ContentContainer/ContentPartContainer.astro";
import Grid21 from "../Grid/Grid2_1/Grid2_1.astro";
import "../Grid/Grid.css";
import "./Footer.styles.css"
import YoutubeSvg from "../../../public/icons/media/youtube.svg?raw"
import TikTokSvg from "../../../public/icons/media/tiktok.svg?raw"
---

<footer class="footerContainer">
    
    <ContentPartContainer clazz="limitedWidth">
            <div class="footerRow">
                <a href="/">Strona główna</a>
                <a href="/archive">Archiwum projektów</a>
                <a href="/shop">Sklep</a>
                <a href="/documents/Regulamin_Hexagon_Tournament_v5.pdf" download>Regulamin</a>
                
            </div>
        <Grid21 clazz="breakMobile">
            <div slot="left" style="margin-top: 30px; flex-direction: column; align-items: start;">
                <a class="center" href="https://www.capybit.pl">Supported by Capybit</a>
            </div>
            
            <div style="align-items: center;" slot="right">
                <div class="footerIcon" set:html={YoutubeSvg}> <a style="position: absolute; width: 100%; height: 100%; z-index: 1;" href="youtube.com/@hex_tournament?si=ddbi8eznESw9F0xb"/></div>
                <div class="footerIcon" set:html={TikTokSvg}> <a style="position: absolute; width: 100%; height: 100%; z-index: 1;" href="https://www.tiktok.com/@minecraft.hex?_r=1&_d=secCgYIASAHKAESPgo8DmdUBOGKJPm7%2B8z1k1uzIbeQ9aSk6u8ObUGX4qTdGRo45%2FQClT6qBzI4ESuxenQXlp3mZygA7WEUHROpGgA%3D&_svg=2&checksum=5c48e2330e3834620da3b292e523bb8b760413486394d37be6610563726eec79&item_author_type=1&sec_uid=MS4wLjABAAAAXpESgrEXyAm4rA95s6VHYYUIMKQ5B0eE9styidllSSjA2KCG3DMrsZCprG9UEins&sec_user_id=MS4wLjABAAAAXpESgrEXyAm4rA95s6VHYYUIMKQ5B0eE9styidllSSjA2KCG3DMrsZCprG9UEins&share_app_id=1233&share_author_id=7464204638373135393&share_link_id=6BB0B75D-C73C-4F74-8C29-12842401BB95&share_region=PL&share_scene=1&sharer_language=pl&social_share_type=4&source=h5_m&timestamp=1764980015&tt_from=copy&u_code=eidk9ddbfgd7ef&ug_btm=b8727%2Cb0&user_id=7464204638373135393&utm_campaign=client_share&utm_medium=ios&utm_source=copy"/></div>
            </div>
        </Grid21>
        <div style="width: 100%; justify-content: center; color: #999999; margin-top: 20px;">
            Copyright @ 2025 Radosław Rybarczyk "Capybit". Wszelkie prawa zastrzeżone. 
        </div>
       
    </ContentPartContainer>



</footer>

<style>
    footer{
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
    .footerContainer{
        background-color: var(--secondary-color);
        color: var(--text-secondary-color);
        width: 100%;
        height: fit-content;
        padding: 3% 0;

    }
    a {
        text-decoration: none;
        color: #999999;
        margin-bottom: 5px;
    }

    .footerRow{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .footerColumn{
        flex-direction: column;
    }
</style>