.bannerContentContainer{
    flex-direction: column;
}

.carouselElementContainer{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #c5c5c5;
    overflow: hidden;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

@media (max-width: 550px){
    h1 {
        font-size: 25px;
    }
    
    h2 {
        font-size: 25px;
    }
}

.carouselElementContainer{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #c5c5c5;
    overflow: hidden;
}

.checkboxFilled svg{
    width: 28px;
    height: 28px;
    fill: var(--accent-color);
}