.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 14px;
    table-layout: fixed;
    min-width: 550px;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3),
.custom-table th:nth-child(4),
.custom-table td:nth-child(4),
.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
  max-width: 40px;
  width: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
  
.custom-table th,
.custom-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
    vertical-align: middle;
}
  
.custom-table thead {
    background-color: #f5f5f5;
}
  
.custom-table tbody tr:nth-child(even) {
    background-color: #fafafa;
}
  
.custom-table th {
    font-weight: bold;
}
  
.custom-table td {
    line-height: 1.4;
}

.cell{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    table{
        width:100%;
        overflow-x: scroll;
    }
    
}