---
import '../styles/global.css';
const {customTiltle, customDescriptin} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<title>Minecraft Turniej Hex - turnieje Minecraft</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/logo.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content=`${customDescriptin}`>
		<meta property="title" content=`${customTiltle}`>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: var(--background-color);
		overflow-x: hidden;
	}
</style>

<script type="module" defer>
	function initCarouselsOnPage() {
		const carousels = document.querySelectorAll('[data-carousel-id]');
		carousels.forEach(carousel => {
			const id = carousel.dataset.carouselId;
			initCarouselLogic(id);
		});
	}

	initCarouselsOnPage();
</script>
