---
import '../styles/global.css';

const {customTiltle, customDescriptin} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<title>Capybit - Praktyki i szkolenia z informatyki/IT</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
        <script is:inline src="https://www.google.com/recaptcha/api.js"></script>
		<meta name="description" content=`${customDescriptin}`>
		<meta property="title" content=`${customTiltle}`>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: var(--background-color);
		overflow-x: hidden;
	}
</style>
