---
import "../../../styles/global.css"
import "./MobileMenu.styles.css"
---
<div class="mobileMenu" id="mobileMenu">
    <div class="mobileMenuInnerWrapper">
        <div class="mobileMenuInner">
            <div class="mobileMenuGroup">
                <div class="submenuHeader">Serwer Minecraft HEX</div>
                <div class="mobileMenuLinks">
                    <a href="/hexEvent">Event Zone</a>
                    <a href="/hexSmp">HEX SMP</a>
                </div>
                <div class="submenuHeader submenuHeaderSoon">W niedalekiej przyszłości</div>
                <div class="mobileMenuLinks">
                    <span class="mobileMenuDisabled">Mini Games</span>
                    <span class="mobileMenuDisabled">Parkour</span>
                    <span class="mobileMenuDisabled">HEX Mask Ritual (PVP)</span>
                </div>
            </div>

            <div class="mobileMenuGroup">
                <div class="submenuHeader">HEX Network</div>
                <div class="mobileMenuLinks">
                    <a href="/archive">Archiwum eventów</a>
                    <a href="/devlog">Devlog</a>
                    <a href="/shop">Sklep</a>
                </div>
            </div>

            <div class="mobileMenuGroup">
                <div class="submenuHeader">Informacje</div>
                <div class="mobileMenuLinks">
                    <a href="/about">O nas</a>
                    <a href="/contact">Kontakt</a>
                </div>
            </div>

            <div class="mobileMenuCta">
                <a href="https://discord.gg/e6SuCrQHak" target="_blank" rel="noopener noreferrer" class="mobileDiscordBtn">Dołącz na Discord</a>
            </div>
        </div>
    </div>
</div>


