.mobileMenuToggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
}

.mobileMenuToggle svg {
    width: 50px;
    height: 50px;
    z-index: 3;
}
  
.mobileMenu {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 2;
    padding: 60px 0px 50px 0px;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    box-sizing: border-box;
}
.mobileMenuInnerWrapper{
  width: 100%;
  height: 100%;
}
  .mobileMenuInner {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
    align-items: center;
  }
  .mobileMenu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .mobileMenu a {
    font-size: 3rem !important;
    text-decoration: none;
    color: black;
  }

  .submenuHeader {
    font-size: 2rem;
    font-weight: normal;
    user-select: none;
    color: #555;
    margin: 10px 0 0 0;
  }
  

  @media (max-width: 950px) {
    .navBarContainer {
      display: none;
    }
    .mobileMenuToggle {
      display: flex;
    }
  }