.mobileMenuToggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0;
}

.mobileMenuToggle span {
    display: flex;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    z-index: 3;
}
  
.mobileMenu {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    z-index: 2;
    padding: 60px 20px 20px 50px;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    box-sizing: border-box;
}
  .mobileMenuInner {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    padding-bottom: 100px;
    align-items: center;
  }
  .mobileMenu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .mobileMenu a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }

  .submenuHeader {
    font-size: 16px;
    font-weight: normal;
    user-select: none;
    color: #555;
    margin: 10px 0 0 0;
  }
  

  @media (max-width: 950px) {
    .navBarContainer {
      display: none;
    }
    .mobileMenuToggle {
      display: flex;
    }
  }