---
import "../../../styles/global.css"
import "./MobileMenu.styles.css"
---
<div class="mobileMenu" id="mobileMenu">
    <div class="mobileMenuInnerWrapper">
        <div class="mobileMenuInner">
            <div class="submenuHeader">Rodzaje szkoleń</div>
            <div class="fullWidthTileContent"><a href="/individual">Praktyki indywidualne</a></div>
            <div class="fullWidthTileContent"><a href="/group">Praktyki grupowe</a></div>

            <div class="submenuHeader">Tworzenie stron internetowych</div>
            <div class="fullWidthTileContent"><a href="/frontendSubject">Frontend</a></div>
            <div class="fullWidthTileContent"><a href="/frontendAndBackendSubject">Frontend + backend</a></div>


            <div class="submenuHeader">Pozostałe tematy</div>
            <div class="fullWidthTileContent"><a href="/E13Subject">E02/E03 i matury z informatyki</a></div>
            <div class="fullWidthTileContent"><a href="/gameSubject">Tworzenie gier</a></div>
            <div class="fullWidthTileContent"><a href="/programmingSubject">Nauka programowania</a></div>

            <div class="submenuHeader">Trener IT</div>
            <div class="fullWidthTileContent"><a href="/mentoring">Oferta mentorska</a></div>
            <div class="fullWidthTileContent"><a href="/mentoringExamples">Przykładowe programy mentorskie</a></div>
            <div class="fullWidthTileContent"><a href="/aboutme">O mentorze</a></div>

            <div class="submenuHeader">Kontakt</div>
            <div class="fullWidthTileContent"><a href="/contact">Kontakt</a></div>

            <div class="submenuHeader">Formularze zgłoszeniowe</div>
            <div class="fullWidthTileContent"><a href="/form">Zgłoś chęć udziału</a></div>
            <div class="fullWidthTileContent"><a href="/form?type=question">Mam pytania</a></div>

            <div class="submenuHeader">Partnerstwo</div>
            <div class="fullWidthTileContent"><a href="/form?type=question">Dla szkół</a></div>
            <div class="fullWidthTileContent"><a href="/form?type=question">Dla firm</a></div>
        </div>
    </div>
</div>


