---
import "../../../styles/global.css"
import "./MobileMenu.styles.css"
---
<div class="mobileMenu" id="mobileMenu">
    <div class="mobileMenuInner">
        <div class="submenuHeader">Rodzaje szkoleń</div>
        <a href="/individual">Praktyki indywidualne</a>
        <a href="/group">Praktyki grupowe</a>

        <div class="submenuHeader">Tworzenie stron internetowych</div>
        <a href="/frontendSubject">Frontend</a>
        <a href="/frontendAndBackendSubject">Frontend + backend</a>


        <div class="submenuHeader">Pozostałe tematy</div>
        <a href="/E13Subject">E13/E14 i matury z informatyki</a>
        <a href="/gameSubject">Tworzenie gier</a>
        <a href="/programmingSubject">Nauka programowania</a>

        <div class="submenuHeader">Trener IT</div>
        <a href="/mentoring">Oferta mentorska</a>
        <a href="/mentoringProgram">Przykładowe programy mentorskie</a>
        <a href="/aboutme">O mentorze</a>

        <div class="submenuHeader">Kontakt</div>
        <a href="/contact">Kontakt</a>
        <a href="/aboutme">O mentorze</a>

        <div class="submenuHeader">Formularze zgłoszeniowe</div>
        <a href="/form">Zgłoś chęć udziału</a>
        <a href="/form?type=question">Mam pytania</a>

        <div class="submenuHeader">Partnerstwo</div>
        <a href="/form?type=question">Dla szkół</a>
        <a href="/form?type=question">Dla firm</a>
    </div>
</div>
