---
import "../../../styles/global.css"
import "./MobileMenu.styles.css"
import HamburgerIcon from "../../../../public/icons/common/hamburger.svg?raw"
---

<div class="mobileMenuToggle" id="mobileMenuToggle">
    <Fragment set:html={HamburgerIcon}>
</div>
