---
import "../../../styles/global.css"
import "./MobileMenu.styles.css"
---
<div class="mobileMenu" id="mobileMenu">
    <div class="mobileMenuInnerWrapper">
        <div class="mobileMenuInner">
            <div class="submenuHeader">Nawigacja turnieju Hex</div>
            <!-- <div class="fullWidthTileContent"><a href="/future">Przyszłe projekty</a></div> -->
            <div class="fullWidthTileContent"><a href="/archive">Archiwum turniejów</a></div>
            <div class="fullWidthTileContent"><a href="/shop">Sklep</a></div>
        </div>
    </div>
</div>


